results
docs
Figure_excels
TritiumColleGnifetti.ipynb
TritiumColleGnifettiAGU.ipynb
TritiumColleGnifettiAGUG5.ipynb
TritiumColleGnifettiG5.ipynb
Colle_Gnifetti_Tritium.ipynb

Adatsor_Elemérnek.xlsx
binned_series.txt
ColleGnifettiSpectrum.xlsx
gkernel_series.txt
interpolated_series.txt
original_series.txt
SN_d_tot_V2.0.txt
SN_m_tot_V2.0.txt
SN_y_tot_V2.0.txt
SN_ms_tot_V2.0.txt
Tritium_dataset.xlsx
XTEST.txt
YTEST.txt
XYTEST.xlsx
Yearly mean total sunspot number 1700 - 2017.csv